<!-- Sobre-->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">O que é um portfólio?</h2>
        <hr class="divider light my-4"/>
        <p class="text-white-50 mb-4">O portfólio é basicamente uma lista dos melhores trabalhos de um profissional,
          empresa ou estudante. O portfólio é uma coleção de todo o trabalho em andamento na organização relacionado com
          o alcance dos objetivos do negócio. No dicionário de língua portuguesa, o portfólio é definido e significa “um
          dossiê ou documento com o registo individual de habilitações ou de experiências”.</p>
        <p class="text-white-50 mb-4">“Fazer uma boa apresentação é um sinal de responsabilidade e cuidado com o seu
          trabalho e mostra firmeza na sua conduta profissional. Assim, poderá ser uma porta aberta para grandes
          oportunidades. E, lembre-se, portfólio não é só uma pasta com os seus materiais, é uma seleção dos seus
          melhores trabalhos, organizado de forma apresentável para uma ocasião profissional.”
          – Thiago Spyked, diretor de projetos, arte e editorial na Editora Cras. Designer e ilustrador no mercado
          editorial e publicitário.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#portfolio">Portfólio</a>
      </div>
    </div>
  </div>
</section>